body {
    font-size: 14px;
    min-width: 450px;
}

.inputContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

input, select {
    height: 25px;
    font-size: 16px;
    width: 95%;
}

textarea {
    font-size: 16px;
    width: 95%;
}

.recurrenceDay {
    font-size: 16px;
}

.recurrenceDay input {
    display: inline;
    width: min-content;
    height: 15px;
    margin-top: 10px;
}